* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
    background-image: url(..//images/fundo.jpg);
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #716d6d;
 }

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}